services:
  # 1. Base de Datos en Producción (SQL Server)
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: stock_db
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${DB_PASSWORD:-Sup3rSecr3t!2026}
      - MSSQL_PID=Express
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql
    restart: unless-stopped

  # 2. Servidor Backend (.NET)
  api:
    build:
      context: ./backend/StockApi
      dockerfile: Dockerfile
    container_name: stock_api
    depends_on:
      - db
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      # Connection String que apunta al contenedor SQL Server interno ('db')
      - ConnectionStrings__DefaultConnection=Server=db,1433;Database=StockDB;User Id=sa;Password=${DB_PASSWORD:-Sup3rSecr3t!2026};TrustServerCertificate=True;
      # Cloudinary Params
      - CloudinarySettings__CloudName=${CLOUDINARY_CLOUD_NAME:-dkvoct2ee}
      - CloudinarySettings__ApiKey=${CLOUDINARY_API_KEY:-382599797473274}
      - CloudinarySettings__ApiSecret=${CLOUDINARY_API_SECRET:-pGZugOioF3TYZFytQqKkbMTa-yA}
      # JWT Settings
      - JwtSettings__Key=${JWT_SECRET:-MchStockSuperSecretJwtKey123!AndMoreCharactersToMakeItSecure}
      - JwtSettings__Issuer=MchStockAPI
      - JwtSettings__Audience=MchStockReactApp
    ports:
      - "5202:8080"
    restart: unless-stopped

  # 3. Interfaz de Usuario (React + Nginx)
  web:
    build:
      context: ./frontend/stockload
      dockerfile: Dockerfile
    container_name: stock_web
    depends_on:
      - api
    ports:
      # Exponemos el Frontend en el puerto 80 nativo para no tener que tipear el puerto
      - "80:80"
    environment:
      # Vite detectará esta variable al momento del build dentro del contenedor si se inyecta
      - VITE_API_URL=http://localhost:5202/api
    restart: unless-stopped

volumes:
  sql_data:
    name: mch_stock_sql_data
